{%  extends 'ScapeRooms/base.html' %}

{% block content %}
    <h1>{{ room.name }}</h1>
    <h3>{{ room.address }}</h3>
    <h3>{{ room.city }}</h3>
    <h3>{{ room.telf }}</h3>
    <h3>{{ room.address }}</h3>
    <h3>{{ room.mail }}</h3>
    <h3>{{ room.zipcode }}</h3>
    <h3>{{ room.url }}</h3>

    <br>
    <h3> Opinions de {{ room.name }}: </h3>
    {% if opinions %}
        {% for opinion in opinions %}
    <h4> Opinió de: {{ opinion.userID }} </h4>
    <h3> {{ opinion.opinion }}</h3>
        {% endfor %}
    {% endif %}
{% endblock %}